.pagination {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 100px;
  padding: 10px;
}
.pagination li{
  width: 20px;
  cursor: pointer;
}
.product__card ul{
  margin-block-end: 0px
}
.pagination button {
 
  font-family: inherit;
  font-weight: 200;
  font-size: 16px;
  margin: 0 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: transparent;
  color: #363637;
  border: none;
}

.pagination button.active {
  font-weight: 600;
  border: none;
}

.pagination .active {
  font-weight: 700;

}